# Игнорируем секретные данные
AppSettings/secrets.json
AppSettings/app_settings.json
AppSettings/AppSettings.cs
AppSettings/Secrets.cs
Program.cs

# Игнорируем файлы сборки
bin/
obj/
out/

# Rider и VS Code
.idea/
.vscode/
